.faq_container {
    text-align: center;
    align-items: center;
    margin: 0 auto;
    margin-left: 20px;
    width: 70%;
}

.faq_container h4 {
    font-size: 16px;
    text-align: left;
    font-weight: 600;
    text-transform: uppercase;
}

.faq_container h5 {
    font-size: 16px;
    text-align: left;
    font-weight: 500;
}

.faq_container svg {
    font-size: 22px;
}

.btn_faq {
    margin-left: 30px;
}

.btn_faq svg {
    color: white;
}

.faq_top {
    display: flex;
    align-items: center;
    padding-left: 30px;
    gap: 200px;

}


.modal_icon {
    color: black;
    cursor: pointer;
    margin-left: 380px;
    margin-top: -40px;
    margin-bottom: 20px;
}

.modal_main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);
    width: 400px;
    height: 300px;
    background-color: white;
    border: none;
    /* box-shadow: 24px; */
    /* padding: 20px 20px; */
    border-radius: 6px;
}

.faq_textfield {
    width: 400px
}


@media (max-width: 700px) {
    .faq_top {
        display: flex;
        flex-direction: column;
        align-items: left;
        text-align: center;
        gap: 20px;
        padding-top: 20px;
    }

    .modal_main {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 300px;
        height: 300px;
        background-color: white;
        border: none;
        border-radius: 6px;
    }

    .modal_icon {
        color: black;
        cursor: pointer;
        margin-left: 280px;
        margin-top: -40px;
        margin-bottom: 20px;
    }

    .faq_textfield {
        width: 350px
    }
}